.slider-container {
  margin: 2rem;
}
.category-slider {
  position: relative;
  --height: 27rem;
  --title-height: 3rem;

  
  height: var(--height);
  width: 100%;
}
.slider-inner {
  overflow: hidden;
  height: 100%;
  position: relative;
}
.category-slider .title {
  padding-left: 1rem;
  height: var(--title-height);

  font-size: 2rem;
  color: var(--white);
  font-weight: bold;
}

.category-slider .movies {
  display: flex;
  position: relative;

  height: calc(100% - var(--title-height));
  width: fit-content;

  transition: left 0.5s;
  background-color: rgba(30, 30, 30, 0.5);
  
}

.category-slider .movies .movie {
  display: flex;
  height: 100%;
  /* aspect-ratio is "movieDivAspectRatio" in CategorySlider.tsx */

  font-size: 4em;
}

.category-slider .movies .movie .movie-img,
.category-slider .movies .movie .hover-popup {
  position: absolute;
  height: 100%;
  min-width: 16rem;
  max-width: 16rem;
}

/* Warning: with description, if a word is longer than the width of the div, it will expand the width */
.category-slider .movies .movie .hover-popup {
  z-index: 1;
  margin-left: 1rem;
  top: 100%;

  overflow-y: auto;

  padding: 0.5rem;
  font-size: 1rem;

  color: var(--white);
  background-color: rgba(var(--blackrgb), 0.8);

  transition: top, 0.2s;
}

.category-slider .movies .movie:hover .hover-popup {
  top: 0%;
}

.category-slider .movies .movie .hover-popup .watch-later {
  position: absolute;
  bottom: 0rem;
  right: 1rem;
  font-size: 4rem;
}

.category-slider .movies .movie .hover-popup .watch-later:hover {
  cursor: pointer;
}

.category-slider .move-left,
.category-slider .move-right {
  display: flex;
  position: absolute;
  top: 50%;
  z-index: 2;

  width: 3rem;
  height: 3rem;

  align-self: center;
  align-items: center;
  text-align: center;
  justify-content: center;

  font-size: 1rem;
  color: white;

  background-color: #0f0e16;
  border: 2px #0f0e16 solid;
transition: left .5s, background .3s, transform .3s;
  user-select: none;
  border-radius: 50%;
  overflow: visible;
}
.category-slider .move-left {
  left: -1.5rem;
}
.category-slider .move-right {
  right: -1.5rem;
}
.category-slider .move-left:hover,
.category-slider .move-right:hover {
  background-color: #15121e;
  border-color: #ce9fff;
  opacity: 1;
  transform: scale(1.2);
}

.category-slider .move-left:hover,
.category-slider .move-right:hover {
  cursor: pointer;
}
