.category-slider {
  --height: 27rem;
  --title-height: 3rem;

  height: var(--height);
  width: 100%;

  overflow: hidden;

  /* Honestly might make this transparent later */
  background: linear-gradient(135deg, var(--black), var(--color-5));
}

.category-slider .title {
  padding-left: 1rem;
  height: var(--title-height);

  font-size: 2rem;
  color: var(--white);
  font-weight: bold;
}

.category-slider .movies {
  display: flex;
  position: relative;

  height: calc(100% - var(--title-height));
  width: fit-content;

  transition: left 0.5s;
  background-color: rgba(30, 30, 30, 0.5);
}

.category-slider .movies .movie {
  display: flex;
  height: 100%;
  /* aspect-ratio is "movieDivAspectRatio" in CategorySlider.tsx */

  font-size: 4em;
}

.category-slider .movies .movie .movie-img,
.category-slider .movies .movie .hover-popup {
  position: absolute;
  height: 100%;
  min-width: 16rem;
  max-width: 16rem;
}

/* Warning: with description, if a word is longer than the width of the div, it will expand the width */
.category-slider .movies .movie .hover-popup {
  z-index: 1;
  /* left: calc(-2 * (var(--height) - var(--title-height)) / 3); */
  top: 100%;

  overflow-y: auto;

  padding: 0.5rem;
  font-size: 1rem;

  color: var(--white);
  background-color: rgba(var(--blackrgb), 0.8);

  transition: top, 0.2s;
}

.category-slider .movies .movie:hover .hover-popup {
  top: 0%;
}

.category-slider .movies .movie .hover-popup .watch-later {
  position: absolute;
  bottom: 0rem;
  right: 1rem;
  font-size: 4rem;
}

.category-slider .movies .movie .hover-popup .watch-later:hover {
  cursor: pointer;
}

.category-slider .movies .move-left,
.category-slider .movies .move-right {
  display: flex;
  position: absolute;
  z-index: 2;

  width: 4rem;
  height: 8rem;

  align-self: center;
  align-items: center;
  text-align: center;

  font-size: 3rem;
  line-height: 2.5rem;

  background-color: aqua;

  transition: left 0.5s;
  user-select: none;
}

.category-slider .movies .move-left:hover,
.category-slider .movies .move-right:hover {
  cursor: pointer;
}

.category-slider .movies .move-right {
  margin-left: calc(100vw - 4rem);
}
