.home {
  width: 100%;
  background: var(--black);
  color: white;
}


.hero {
  position: relative;
  height: 70vh;
  width: 100%;
  background-position: center;
  background-size: cover;

}

.hero-overlay {
  position: absolute;
  inset: 0;
  height: 100%;
  background: linear-gradient(
    to top, 
    rgba(0,0,0,0.75) 0%, 
    rgba(0,0,0,0.2) 60%, 
    rgba(0,0,0,0.7) 100%
  );
}

.hero-content {
  position: absolute;
  bottom: 12%;
  left: 4%;
  max-width: 550px;
}

.hero-title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.hero-desc {
  opacity: 0.9;
  font-size: 1.1rem;
  line-height: 1.4;
  margin-bottom: 1.5rem;
}

.hero-buttons {
  display: flex;
  gap: 1rem;
}

.btn-primary,
.btn-secondary {
  padding: 0.6rem 1.6rem;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
}

.btn-primary {
  background: var(--color-4);
  color: #000;
  font-weight: 600;
}

.btn-secondary {
  background: rgba(var(--color-5rgb), .3);
  color: rgb(255, 255, 255);
  font-weight: 600;
}

.sliders {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-bottom: 4rem;
}

.hero.fade {
  transition: background-image 1s ease-in-out;
}

.hero-dots {
  display: flex;
  gap: 0.5rem;
  margin-top: 1.5rem;
}

.hero-dots .dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgba(255,255,255,0.4);
  cursor: pointer;
  transition: background 0.3s;
}

.hero-dots .dot.active {
  background: white;
}
