.movie-card {
  text-decoration: none;
  color: inherit;
  display: block;
}

.movie-card-inner {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.movie-card-inner .movie-card-img,
.movie-card-inner .hover-popup {
  position: absolute;
  inset: 0;

  width: 100%;
  height: 100%;

  object-fit: cover;
}

.movie-card-inner .hover-popup {
  z-index: 1;
  top: 100%;

  overflow-y: auto;

  padding: 0.5rem;
  font-size: 1rem;

  color: var(--white);
  background-color: rgba(var(--blackrgb), 0.8);

  transition: top 0.2s;
}

.movie-card-inner:hover .hover-popup {
  top: 0%;
}

.hover-popup .watch-later {
  position: absolute;
  bottom: 0rem;
  right: 1rem;
  font-size: 4rem;
}

.hover-popup .watch-later:hover {
  cursor: pointer;
}
