.movie-card {
  text-decoration: none;
  color: inherit;
}

.movie-card-inner {
  display: flex;
  position: relative;

  height: 100%;
  font-size: 4em;
}

.movie-img,
.hover-popup {
  position: absolute;
  height: 100%;
  min-width: 16rem;
  max-width: 16rem;
}

.hover-popup {
  z-index: 1;
  margin-left: 1rem;
  top: 100%;

  overflow-y: auto;

  padding: 0.5rem;
  font-size: 1rem;

  color: var(--white);
  background-color: rgba(var(--blackrgb), 0.8);

  transition: top 0.2s;
}

.movie-card-inner:hover .hover-popup {
  top: 0%;
}

.hover-popup .watch-later {
  position: absolute;
  bottom: 0rem;
  right: 1rem;
  font-size: 4rem;
}

.hover-popup .watch-later:hover {
  cursor: pointer;
}
