.actor-search-container {
  position: relative;
  width: 100%;
}

.actor-search-input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid white;
  color: white;
  border-radius: 8px;
}

.actor-search-dropdown::-webkit-scrollbar {
  width: 8px;
}

.actor-search-dropdown::-webkit-scrollbar-track {
  background: #f3f4f6;
  border-radius: 8px;
}
.actor-search-dropdown::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 8px;
}

.actor-search-dropdown::-webkit-scrollbar-thumb:hover {
  background: #9ca3af;
}
.actor-search-dropdown::placeholder {
  color: rgb(206, 206, 206);
}

.actor-search-dropdown {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  background: white;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
  font-size: 0.95rem;
}

.actor-item {
  padding: 8px;
  cursor: pointer;
  
}

.actor-item:hover {
  background: #eee;
}
.selected-people {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.person-chip {
  display: flex;
  align-items: center;
  background-color: #3c2433;
  padding: 6px 10px;
  border-radius: 20px;
  color: white;
  font-size: 0.9rem;
  gap: 6px;
}

.remove-chip {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: #ff9cae;
}

.remove-chip:hover {
  color: white;
}
