.preference-editor-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 60%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    z-index: 9999; 
}
.preference-editor {
    display: flex;
    flex-direction: column;
    
}
.preference-editor-header {
    display: flex;
    justify-content: center;
    font-size: 4rem;
    font-weight: 700;
}