.preference-editor-backdrop {
position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9998;
  backdrop-filter: blur(2px);
}
.preference-editor-container {
    position: fixed;
    margin-top: 50px;
    top: 20%;
    left: 25%;
    opacity: 0;
    width: 50%;
    height: 60%;
    background: linear-gradient(135deg, var(--color-3), var(--color-4));
    transition: opacity 0.3s ease, margin-top 0.3s ease;
    border-radius: 10px;
    z-index: 9999; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.preference-editor-container.animate-in {
  opacity: 1;
  margin-top: 0;
}
.preference-editor {
    display: flex;
    flex-direction: column;
    
}
.preference-editor-header {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 700;
}
.preference-editor-tabs {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 4rem;
    font-size: 2rem;
    flex-direction: row;
    color: rgb(44, 44, 44);

}
.preference-editor-tabs .tab {
    cursor:pointer;

}
.active-tab {
    border-bottom: 3px solid rgb(255, 255, 255);
    color: white;
}
.header-gradient {
    background: white;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; /* important */
}
.preference-editor-body {
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.tab-body-container {
    width: 60%;
    margin-top: 30px;
}