:root {
  --white: #ffd7c3;
  --whitergb: 255, 215, 195;
  --black: #2c1a24;
  --blackrgb: 44, 26, 36;
  --color-1: #faa275;
  --color-2: #ff8c61;
  --color-3: #ce6a85;
  --color-4: #985277;
  --color-4rgb: 152, 82, 119;
  --color-5: #5c374c;
  --color-5rgb: 92, 55, 76;
}
