.AccountSettings {
    background-color: var(--black);
    min-height: 100vh;
}

.AccountNavigationBar {
    background-color: var(--color-5);
}

.AccountSettings .col-span-4 {
    margin: 2rem;
    margin-top: 6rem;
    color: var(--white);
}

.AccountSettings-Section {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-bottom: 10rem;
}

.AccountSettings-Section .flex-col {
    margin-top: 2rem;
}

.AccountSettings-Section h1 {
    font-size: 1.875rem; 
    font-weight: 700;
}

.AccountSettings button {
    border-width: 1px;
    border-color: var(--white);
    padding: 0.5rem;
}

.buttonBoxContainer {
    width: 100%;
    padding: 0 2rem;
    padding-top: 0.5rem;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}
.buttonBox {
    width: 100%;
    padding: 1.5rem;
    padding-top: 0.5rem;
    border-radius: 0.5rem;
    border-color: var(--white);
    border-width: 1px;
}

.buttonBox h2 {
    color: var(--color-1);
    border-bottom-width: 1px;
}

.buttonBox button:hover {
    background-color: var(--color-5);
}

.buttonBox button svg {
    color: red
}

button.active {
    background-color: var(--color-5);
}

button:hover {
    background-color: var(--color-5);
}

.delete-account-button {
    padding: 1rem 2rem;
    font-size: 1.125rem;
    font-weight: 600;
    border-color: #dc2626;
}

.delete-account-button:hover {
    background-color: #b91c1c;
    border-color: #b91c1c;
}