.AccountSettings {
    background-color: var(--black);
    min-height: 100vh;
}

.AccountNavigationBar {
    background-color: var(--color-5);
}

.AccountSettings .col-span-4 {
    margin: 2rem;
    margin-top: 6rem;
    color: var(--white);
}

.AccountSettings-Section {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.AccountSettings-Section .flex-col {
    margin-top: 2rem;
}

.AccountSettings-Section h1 {
    font-size: 1.875rem; 
    font-weight: 700;
}

.AccountSettings button {
    border-width: 1px;
    border-color: var(--white);
    padding: 0.5rem;
}

