.login-page {
  padding-top: 5rem;
  padding-left: 2rem;
  background: var(--black);
  min-height: 100vh;
  color: var(--white);
}

.login-page button {
  margin-top: 0.75rem;
  padding: 0rem 1rem 0rem 1rem;
  background: var(--color-5);
  border-radius: 5px;
}

.login-page button:hover {
  cursor: pointer;
}

form {
  width: fit-content;
}

form input {
  background: var(--white);
  border-radius: 5px;
  color: var(--black);
}

h3 {
  font-size: x-large;
  font-weight: bold;
}
