.login-page {
  padding: 0 5rem 5rem 5rem;
  min-height: 100vh;

  background: var(--color-5);
  color: var(--white);

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.5rem;
}

.login-page button {
  margin-top: 0.75rem;
  padding: 0rem 1rem 0rem 1rem;
  background: var(--color-5);
  border-radius: 5px;
}

.login-page button:hover {
  cursor: pointer;
}

.login-page form {
  width: fit-content;
  border-radius: 32px;
  padding: 1.5rem;
  margin: 0 4rem 0 4rem;

  justify-items: left;

  background-color: var(--black);
}

.login-page input {
  padding-left: 0.25rem;
  background: var(--white);
  border-radius: 5px;
  color: var(--black);
}

h3 {
  color: var(--color-1);
  justify-self: center;
  font-size: 1.5em;
  font-weight: bold;
}

.error-text {
  width: 15.2em; /* This should be the default input width */
  font-size: 0.75em;
  color: var(--color-4);
}