.MovieDescription {
    background-color: var(--black);
    padding-top: 5rem;
    min-height: 100vh;
}

.container {
    background: color-mix(in srgb, var(--color-5) 80%, transparent);
    border-radius: 2rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.movie-img {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    margin-left: 1rem;
}

.movie-details {
    padding-left: 10rem;
}