.search-results {
  width: 100%;
  padding: 2rem 1rem;
  color: var(--white);
  margin-top: 4rem;
}

.search-results h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  padding-left: 0.5rem;
  font-weight: bold;
}

.movie-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;

  background-color: rgba(30, 30, 30, 0.5);
  padding: 1rem;
  border-radius: 0.5rem;
}

.movie-grid-item {
  position: relative;
  display: flex;
}

.movie-grid-item > * {
  width: 100%;
  height: 100%;
}

body {
    background-color: var(--black);
}