name: CI

on:
  push:
    branches: [master, development]
  pull_request:

jobs:
  run-tests:
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Python dependencies
        run: |
          pip install -r requirements.txt
        env:
          TMDB_API_KEY: ${{ secrets.TMDB_API_KEY }}

      - name: Run tests with coverage
        run: |
          pytest -q -s \
            --cov=. \
            --cov-report=term \
