name: CI

on:
  push:
    branches: [master, development]
  pull_request:

jobs:
  run-tests:
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Chrome dependencies
        run: |
          sudo apt-get install -y libnss3 libnspr4 libfontconfig1 libexpat1 libcups2 libgconf-2-4 libxtst6 libxss1 libglu1-mesa

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Python dependencies
        run: |
          pip install -r requirements.txt

      - name: Run basic tests
        run: |
          pytest -q

      - name: Run tests with coverage
        run: |
          pytest -q \
            --cov=. \
            --cov-report=term \
