name: CI

on:
  push:
    branches: [master, development]
  pull_request:

jobs:
  run-tests:
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Testing
        run: |
          echo "Hello World!"
